<tr>
    <td colspan="6" class="border1"
        style="padding:10px;vertical-align:top;border-left-width: 0px;border-right-width: 0px;border-bottom-width: 0px;">
        <div style="
    display: flex;
    align-items: end;
">
            <div style="
    flex: 1;
    padding: 10px;
">
                <h4 style="margin:0px;padding-top:50px">Buyer Signatory</h4>
            </div>
            <div style="
    flex: 1;
    padding: 10px;
    border-left: 2px solid black;
">
                <h4 style="margin:0px">Certified that the particulars given above are the true and correct</h4>
                <h4 style="margin:0px;padding-bottom:70px">For M.N. Leather</h4>
                <h4 style="margin:0px">Authorized Signatory</h4>
            </div>
        </div>
    </td>
</tr>